extends layout

block content
  //- h2 Features
  //- div
  //-   ul 
  //-     each obj in api
  //-       if (obj.path.indexOf('feature') > -1 && obj.path.indexOf('API') == -1)
  //-         li
  //-           a(href= obj.path)=obj.path
  //- hr
  //- div
  //-   ul API
  //-     each obj in api
  //-       if (obj.path.indexOf('feature') > -1 && obj.path.indexOf('API') != -1)
  //-         li
  //-           a(href= obj.path)='[' + obj.methods + '] ' + obj.path
  h2 Marketo 
  div
    h3 Setup - lib.js
    p lib.js - returns library mktoLeads. Contains functions for:
    h3 Marketo Leads Repository
    ul
      li Retrieving Marketo leads by Cookie, Email, Id
      li Upsert Lead (will update a lead, or create lead if the submitted lead does not exist in Marketo)
    h3 Forms Prepopulation
    ul
      li Form prepopulation (based on the Marketo cookie)
        ul
          li Will insert a blank hidden input with name _mkto_trk if form prepopulation occurs and form has class mktoForm
    h3 Campaign Attribution
    ul
      li Campaign attribution via query string and persistence via cookie
        ul
          li Will insert a hidden input with name mkto_Campaign and value of the campaignid passed in the query
          li This cookie will be used to set the campaign value on all subsequent requests until either:
            ol
              li A new campaignid is passed via the query string
              li The mkto_Campaign cookie is removed
    h3 UTM Tracking
    ul           
      li UTM tracking via query string and persistence via cookie (same implementation as the campaign attribution)
    div
      p Form prepopulation, campaign attribution, and UTM tracking execute on DOM ready.
    h3 Setup - multistep.js
    p multistep.js - transforms Marketo forms with fieldsets to multistep forms with fieldsets determining the multistep steps. Wrap all fields belonging to a step into a fieldset at Marketo forms design time. Executes logic at MktoForms2.whenReady(callback).
    h3 Dependencies
    ul
      li MktoForms2
      li jQuery (MktoForms2 validation has a dependency on jQuery)
      li mktoTokens = { multistepify, dynamicTCPA, isUmbracoForm, includePreviousButton, tcpaToken }
        ul mktoTokens must be instantiated on the Marketo landing page. Its purpose is to transfer Marketo forms tokens to the multistep.js library.
          li multistepify: if set to true, will transform fieldsets into steps
          li dynamicTCPA: if true, will dynamically append the TCPA text set by the tcpaToken on focus of the phone HTML element
          li isUmbracoForm: if true, applies styles and progress bar styles specific to umbraco forms
          li includePreviousButton: if true, will create a previous button on multistep steps
          li tcpaToken: verbaige for TCPA script
  div
    ul Use Cases
      each obj in api
        if (obj.path.indexOf('mkto') > -1 && obj.path.indexOf('tests') > -1)
          li
            a(href= obj.path)=obj.path
  hr
  div
    ul API
      li Leads
      each obj in api
        if (obj.path.indexOf('mkto') > -1 && obj.path.indexOf('tests') == -1 && obj.path.indexOf('leads') > -1)
          ul
            li
              a(href= obj.path)='[' + obj.methods + '] ' + obj.path
      li Forms
      each obj in api
        if (obj.path.indexOf('mkto') > -1 && obj.path.indexOf('tests') == -1 && obj.path.indexOf('forms') > -1)
          ul
            li
              a(href= obj.path)='[' + obj.methods + '] ' + obj.path            
      li Fields
      each obj in api
        if (obj.path.indexOf('mkto') > -1 && obj.path.indexOf('tests') == -1 && obj.path.indexOf('fields') > -1)
          ul
            li
              a(href= obj.path)='[' + obj.methods + '] ' + obj.path      
      li Fields
      each obj in api
        if (obj.path.indexOf('mkto') > -1 && obj.path.indexOf('tests') == -1 && obj.path.indexOf('customFields') > -1)
          ul
            li
              a(href= obj.path)='[' + obj.methods + '] ' + obj.path                             
  hr
  div
    ul Scripts
      li 
        a(href='/javascripts/mkto/lib.js') lib
      li 
        a(href='/javascripts/mkto/multistep.js') multistep
      li 
        a(href='/javascripts/mkto/tests/helpers.js') helpers (lib for tests)
    
  h2 Instapage
  div
    h3 Setup
    p The lib.js script must be loaded on each instapage landing page. Logic executed on DOM load.
    h3 Program of Interest, Area of Study, Degree Type
    ul 
      li Program of Interest, Area of Study, Degree Type select lists will automatically populate when the page loads. This will not work in preview mode unless a hidden input is added to the form. The input name must be path and its value must me the salesforce institution id. The salesforce institutionid can be found <a href="/mulesoft/salesforce/getAllSalesforceIds">here</a>
    h3 Multistep
    ul
      li Create a hidden input for each step. The input name and value must be step# where # is the number of the step (ex. step1, step2). All fields beneath the step hidden input will be wrapped into that step.
    h3 Conditional Branching
    ul
      li Conditional branching should occur automatically once the Program of Interest, Area of Study, Degree Type are populated from our salesforce API
    h3 Default Conditions
    ul
      li In order to set default values to Program of Interest, Area of Study, Degree Type select lists, add a hidden input with its value set to the name of the default option desired.
      ul [select list : hidden input name]
        li Program of Interest : defaultProgram
        li Area of Study : defaultArea
        li Degree Type : defaultType  
    h3 Thank You page redirect
    ul
      li Instapage managed: click form, set in Redirect Module
  div
    ul Use Cases
      each obj in api
        if (obj.path.indexOf('instapage') > -1 && obj.path.indexOf('tests') > -1)
          li
            a(href= obj.path)=obj.path
  hr
  div
    ul API
      each obj in api
        if (obj.path.indexOf('instapage') > -1 && obj.path.indexOf('tests') == -1)
          li
            a(href= obj.path)='[' + obj.methods + '] ' + obj.path
  hr
  div
    ul Scripts
      li 
        a(href='/javascripts/instapage/lib.js') lib
      li 
        a(href='/javascripts/instapage/tests/helpers.js') helpers (lib for tests)

  h2 Mulesoft
  div
    ul Use Cases
      each obj in api
        if (obj.path.indexOf('mulesoft') > -1 && obj.path.indexOf('tests') > -1)
          li
            a(href= obj.path)=obj.path
  hr
  div
    ul API
      li BOAS
      each obj in api
        if (obj.path.indexOf('mulesoft') > -1 && obj.path.indexOf('boas') > -1)
          ul
            li
              a(href= obj.path)='[' + obj.methods + '] ' + obj.path
      li Salesforce
      each obj in api
        if (obj.path.indexOf('mulesoft') > -1 && obj.path.indexOf('salesforce') > -1)
          ul
            li
              a(href= obj.path)='[' + obj.methods + '] ' + obj.path
  hr
  div
    ul Scripts
      li 
        a(href='/javascripts/mulesoft/lib.js') lib
  h2 Umbraco
  div
    h3 Setup
    p The lib.js library will handle updating the form action path on DOM ready
    ul Use Cases
      each obj in api
        if (obj.path.indexOf('umbraco') > -1 && obj.path.indexOf('tests') > -1)
          li
            a(href= obj.path)=obj.path
  hr
  div
    ul API
      each obj in api
        if (obj.path.indexOf('umbraco') > -1 && obj.path.indexOf('tests') === -1)
          ul
            li
              a(href= obj.path)='[' + obj.methods + '] ' + obj.path
  hr
  div
    ul Scripts  
      li  
        a(href='/javascripts/umbraco/lib.js') lib

  br
  br
  div
    h2 Apologetic
    p We have limited control on what HTML structure is sent from the server to the landing page in either Marketo or Instapage. This complicates an otherwise straightforward forms management system. This application serves to alleviate and circumvent the limitations for both Marketo and Instapage.
    p This application also exposes all Mulesoft API's used in Marketing. This provides documentation and a single repository for access to these API's & script libraries to Marketing assets such as Marketo, Instapage and the primary brand sites.
    p This application finally exposes a set of features useful to managing assets in Marketing.